.eapps-link {
  background-color: yellow;
}



.container{

 position: absolute;
 width: 100%; 
 height: 100%;
 pointer-events: none;
}

.feed{
 position: absolute;
 top: 0%;
background: rgba(230,212,188,1);
background: linear-gradient(0deg, rgba(230,212,188,1) 0%, rgba(230,212,188,1) 34%, rgba(230,212,188,0) 53%);
  display: flex;
  justify-content: center;
  align-items: end;
 width: 100%; 
 height: 100%;



}

.in{

 position: relative;
bottom:-40px;
 width: 80%; 
pointer-events: auto;

}